:root{
    --grey_dark: rgb(56, 56, 56);
    --grey_medium: rgb(118, 118, 118);
    --grey_light: rgb(220, 220, 220);
    --button-bg: rgb(255, 255, 255);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    position: relative;
    display: flex;
    align-items: center;
}

button{
    background-color: var(--button-bg);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover{
    background-color: var(--grey_light);
}

html,body{
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    color: var(--grey_dark);
    font-size: 15px;
    overflow: hidden;
}

body{
    display: flex;
    flex-direction: column;
}

main{
    overflow: hidden;
    display: flex;
}

header{
    height: 4em;
    border-bottom: 1px solid var(--grey_light);
    justify-content: left;
    flex-shrink: 0;
}
.controls-button{
    border-radius: 999px;
    width: 2em;
}
.controls-button > img{
    width: 100%;
}

.logo{
    margin: 0 4em 0 2em;
}
.today{
    padding: 0.6em 1.2em;
    border-radius: 5px;
    border: 1px solid var(--grey_light);
}

.today, .nextPrev{
    margin-right: 1em;
}

.prev{
    margin-right: 0.2em;
}

/* SIDE MENU */

.sideMenu{
    width: 15em;
    padding: 2em;
    align-items: start;
    border-right: 1px solid var(--grey_light);
}

.create{
    border: 1px solid var(--grey_light);
    padding: 1em 2em;
    border-radius: 999px;
}