.weekView-wrapper{
    overflow: hidden;
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
    padding-top: 1em;
    padding-right: 1em;
}

.weekView-container{
    height: 100%;
    overflow: hidden;
}

.calendar-main, .calendar-days{
    height: 100%;
}

.calendar-column{
    flex-grow: 1;
    display: grid;
    grid-template-rows: repeat(25, 4em);
}
.calendar-columns{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.calendar-header{
    grid-column: 2;
}
.header-cell{
    flex-direction: column;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: white;
}
.header-cell > .hour-span{
    position: absolute;
    bottom: 0;
    right: 0;
}
.header-spanner{
    height: 2em;
    width: 100%;
}
.calendar-days{
    display: grid;
    grid-template-columns:3em repeat(7, 1fr);
    overflow: scroll;
    grid-row-start: 2;
}
.hour{
    display: flex;
    justify-content: right;
}
.hour-labelContainer{
    position: relative;
    width: 2em;
    margin-right: 0.3em;
}
.hour-labelContent{
    position: absolute;
    font-size: 0.6em;
    bottom: -0.5em;
    right: 0;
    z-index: -1;
}
.hour-span{
    width: 1em;
    border-bottom: 1px solid  var(--grey_light);
}
.day{
    position: relative;
}
.day-label{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.day-spanner{
    height: 1em;
}
.day-cell{
    border-left: 1px solid  var(--grey_light);
    border-bottom: 1px solid  var(--grey_light);
}