.monthView {
	margin-top: 1em;
	font-size: 10px;
	display: grid;
	grid-template-columns: max-content;
}
.monthView-header {
	justify-content: space-between;
	padding-left: 1em;
}
.monthView-main {
	margin-top: 1em;
}

.monthView-days {
	display: grid;
	grid-template-columns: repeat(7, max-content);
	grid-template-rows: repeat(6, max-content);
	margin-top: 1em;
}
.monthView-cell {
	width: 2em;
	height: 2em;
	justify-content: center;
	margin: 0.6em;
}
.monthView-button {
	font-size: inherit;
	color: var(--grey_medium);
	width: 100%;
	height: 100%;
	font-weight: 600;
}

.selectedMonth {
	color: var(--grey_dark);
}

.monthView-weekDayNames {
	width: 100%;
}
.centered {
	justify-content: space-around;
}

.selected_secondary {
	background-color: var(--secondary-bg);
	color: var(--secondary-font);
}

.selected_secondary:hover {
	background-color: rgb(174, 203, 250);
	color: var(--secondary-font);
}
.button_today {
	color: white;
	background-color: var(--primary);
}
.button_today:hover {
	color: white;
	background-color: var(--primary_dark);
}
