.monthView{
    margin-top: 1em;
    padding: 1em;
    border: 1px solid var(--grey_light);
    font-size: 10px;
}
.monthView-header{
    justify-content: space-between;
}
.monthView-label{
    margin-right: 2em;
}
.monthView-main{
    margin-top: 1em;
    border: 1px solid var(--grey_light);
    padding: 1em;
}

.monthView-days{
    display: grid;
    grid-template-columns: repeat(7, max-content);
    grid-template-rows: repeat(6, max-content);
    margin-top: 1em;
}
.monthView-cell{
    width: 2em;
    height: 2em;
    justify-content: center;
    margin: 0.6em;
}
.monthView-button{
    font-size: inherit;
    color: var(--grey_medium);
    width: 100%;
    height: 100%;
}

.selectedMonth{
    color: var(--grey_dark);
}

.monthView-weekDayNames{
    width: 100%;
}
.centered{
    justify-content: space-around;
}
.sideBar{
    width: auto;
}

.button_selectedDay{
    background-color: var(--secondary-variant);
    color: var(--on-secondary-variant);
}
.button_today{
    color: white;
    background-color: var(--primary);
}